.categories-section{
	padding: 40px 0 60px;
	@include breakpoint($mobile) {
		padding: 20px 0 30px;
	}
	h2, .h2{
		display: block;
		line-height: 1;
		font-size: 24px;
		margin: 0 0 15px;
		color: $main-color;
	}
	.tags-list{
		padding: 0;
		> li{
			@include rem($mobile) {
				margin-bottom: 0;
			}
		}
	}
}