<div class="col l-3 t-4 m-6 ms-12">
    <div class="games-list-holder">
        <strong class="h3"><a href="{{ link }}">{{ title }}</a></strong>
        <ul class="games-list">
            {% for obj in objects %}
                {% include 'catalog/inclusions/_include_game_list.html' %}
            {% endfor %}
        </ul>
    </div>
</div>
