{% load thumbnail i18n %}
<li{% if not obj.mobile %} class="desktop-only"{% endif %}>
    <div class="game-list__item">
        <span class="info-panel">
            <span class="rate"><i class="icon-star"></i> {{ obj.rating }}</span>
            <span class="count">
                {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                    {{ obj.play_counter_mobile }}
                {% else %}
                    {{ obj.play_counter }}
                {% endif %}
            </span>
        </span>
        {% if obj.image %}
            <a href="{{ obj.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}" class="visual">
                {% thumbnail obj.image "120x120" crop="center" upscale=0 as im %}
                    <img data-src="{{ im.url }}" alt="{{ obj }}" class="lazy" />
                {% endthumbnail %}
            </a>
        {% endif %}
        <a href="{{ obj.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}" class="text">{{ obj.list_link }}</a>
    </div>
</li>
{#<li{% if not obj.mobile %} class="desktop-only"{% endif %}>#}
{#    <a href="{{ obj.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}">#}
{#        <span class="info-panel">#}
{#            <span class="rate"><i class="icon-star"></i> {{ obj.rating }}</span>#}
{#            <span class="count">#}
{#                {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}#}
{#                    {{ obj.play_counter_mobile }}#}
{#                {% else %}#}
{#                    {{ obj.play_counter }}#}
{#                {% endif %}#}
{#            </span>#}
{#        </span>#}
{#        {% if obj.image %}#}
{#            <a href="{{ obj.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}" class="visual">#}
{#                {% thumbnail obj.image "120x120" crop="center" upscale=0 as im %}#}
{#                    <img data-src="{{ im.url }}" alt="{{ obj }}" class="lazy">#}
{#                {% endthumbnail %}#}
{#            </a>#}
{#        {% endif %}#}
{#        <a href="{{ obj.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}" class="text">{{ obj.list_link }}</a>#}
{#    </a>#}
{#</li>#}