{% load i18n static %}
<div class="games-list-sorting">
    <strong class="games-list-sorting__title">{% trans 'Sort by' %}: <span class="show-on-m">{% trans 'Most Popular' %}</span></strong>
    <ul class="games-list-sorting__list">
        <li class="games-list-sorting__list__item{% if not sort %} active{% endif %}"><a href="{{ object.get_absolute_url }}"><img src="{% static 'catalog/images/stars.png' %}" alt="image description">{% trans 'Most Popular' %}</a></li>
        <li class="games-list-sorting__list__item{% if sort == 'new' %} active{% endif %}"><a href="?sort=new"><img src="{% static 'catalog/images/new.png' %}" alt="image description">{% trans 'New' %}</a></li>
        <li class="games-list-sorting__list__item{% if sort == 'name' %} active{% endif %}"><a href="?sort=name">{% trans 'A-Z' %}</a></li>
    </ul>
</div>