{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            Are you sure you want to execute this action on the selected items?
        </p>
        {% for order in orders %}
            <p>
                {{ order }}
            </p>
            <input type="hidden" name="_selected_action" value="{{ order.pk }}" />
        {% endfor %}

        <select name="category">
            {% for o in categories %}
                <option value="{{ o.id}}">{{ o }}</option>
            {% endfor %}
        </select>

        <input type="hidden" name="action" value="change_category" />
        <input type="submit" name="apply" value="Change category"/>
    </form>
{% endblock %}
