{% extends 'catalog/base.html' %}

{% load static i18n l10n catalog_tags humanize thumbnail %}

{% block og_scheme %}
    {% get_current_language as LANGUAGE_CODE %}
    {% with languages_processed_locales|get_item:LANGUAGE_CODE as loc %}
        <meta property="og:locale" content="{{ loc }}" />
    {% endwith %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% building_meta 'title' object settings %}" />
    <meta property="og:description" content="{% building_meta 'description' object settings %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="{{ settings.title }}" />
    {% if object.image %}
        <meta property="og:image" content="{{ scheme }}://{{ request.get_host }}{{ object.image.url }}" />
    {% endif %}
{% endblock %}

{% block meta_title %}
    <title>{% building_meta 'title' object settings %}</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{% building_meta 'description' object settings %}" />
{% endblock %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ object.meta_keywords|default:settings.meta_keywords }}" />
{% endblock %}


{% block json-ld %}
    <script type = "application/ld+json" > [
    {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "{{ object.name }}",
    "url": "{{ request.build_absolute_uri }}",
    "author": {
        "@type": "Organization",
        "name": "FreeGamesBoom"
    },
    "description": "{% building_meta 'description' object settings %}",
    "applicationCategory": "GameApplication",
    "operatingSystem": "any",
    "aggregateRating": {
        "@type": "AggregateRating",
        "worstRating": 1,
        "bestRating": 5,
        "ratingValue": {{ object.rating|unlocalize }},
        "ratingCount": {{ object.total_votes }}
    },
    {% if object.image %}"image": "{{ object.image.url }}",{% endif %}
    "offers": {
        "@type": "Offer",
        "category": "free",
        "price": 0,
        "priceCurrency": "EUR"
    }
}, {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "FreeGamesBoom",
        "item": "https://{{ request.get_host }}{% if not request.LANGUAGE_CODE == 'en' %}/{{ request.LANGUAGE_CODE }}/{% endif %}"
    }, {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ object.category }}",
        "item": "https://{{ request.get_host }}{{ object.category.get_absolute_url }}"
    }]
},
{
  "@context": "http://schema.org",
  "@type": "ImageObject",
  "contentUrl": "{{ scheme }}://{{ request.get_host }}{{ object.image.url }}",
  "name": "{{ object.name }}"
}
]
</script>
{% endblock %}

{% block default_section %}
    <div class="container game-section-inner">
        {% if object.category %}
            <dl class="category-title">
                <dt>{% trans 'Category' %}:</dt>
                <dd><a href="{{ scheme }}://{{ request.get_host }}{{ object.category.get_absolute_url }}">{{ object.category }}</a></dd>
            </dl>
        {% endif %}
        <div class="game-preview-head">
            <div class="game-preview-head__visual">
                {% if object.image %}
                    {% thumbnail object.image "55x55" crop="center" upscale=0 as im %}
                        <img data-src="{{ im.url }}" alt="{{ object.name }}" title="{{ object.name }}" class="lazy">
                    {% endthumbnail %}
                {% endif %}
            </div>
            <div class="game-preview-head__content">
                <h1>
                    {% if object.h1 %}
                        {{ object.h1 }}
                    {% elif object.name %}
                        {{ object.name }}
                    {% else %}
                        {{ object.name_en }}
                    {% endif %}
                    {% if request.user.is_staff %} <a href="{% url 'admin:catalog_game_change' object.id %}">[Edit]</a>{% endif %}
                </h1>
                {{ object.seo_top|safe }}
            </div>
        </div>

        <div class="clear-content">
            <div class="main-preview-game">
                <div class="game{% if not object.mobile %} desktop-only{% endif %}">
                    <div class="game-preloader show-embed" data-id="{{ object.id }}">
                        <div class="fgb-logo">
                            <img src="{% static 'catalog/images/fgb-logo.jpg' %}" alt="image description">
                        </div>
                        <div class="game-preview">
                            {% if object.image %}
                                {% thumbnail object.image "108x108" crop="center" upscale=0 as im %}
                                    <span class="visual"><img data-src="{{ im.url }}" alt="{{ obj }}" class="lazy"></span>
                                {% endthumbnail %}
                            {% endif %}
                        </div>
                        <div class="btn-holder">
                            {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                                <a href="{{ object.scheme }}://{{ request.get_host }}{{ object.get_absolute_url_full }}" target="_blank" class="btn btn-play">{% trans 'PLAY' %}</a>
                            {% else %}
                                <a href="#" class="btn btn-play" id="show-embed" data-id="{{ object.id }}">{% trans 'PLAY' %}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="game-frame" id="game-code">
                    </div>
                    {% if not object.mobile %}
                        <div class="game-error">
                            <div class="game-error__visual"></div>
                            <div class="game-error__text">{% trans 'This game is not available on mobile.' %}</div>
                        </div>
                    {% endif %}
                </div>

                {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                    {% if object.mobile %}
                        {% include 'catalog/inclusions/game_block.html' %}
                    {% endif %}
                {% else %}
                    {% include 'catalog/inclusions/game_block.html' %}
                {% endif %}

                {% if games_by_priority_tag %}
                    {% include 'catalog/inclusions/_block_title.html' with objects=games_by_priority_tag title=priority_title %}
                {% endif %}

                {% block_popular_games 32 object %}
                {% block_last_played_games 16 object %}

                <div class="text-content clear">

                    {% building_template_from_db object settings.tl_desc %}

                    {% if object.description %}
                        <div class="content">
                            {{ object.description|safe }}
                        </div>
                    {% endif %}

                    {% if object.control %}
                        <div class="content">
                            <strong class="h3">{% trans 'Controls' %}</strong>
                            {{ object.control|safe }}
                        </div>
                    {% endif %}

                    {% if object.video %}
                        <div class="content">
                            <strong class="h3">{% trans 'Video' %}</strong>
                            <div class="video-list">
                                {% for video in object.get_video %}
                                    {% if video %}
                                        <div class="video-item">
                                            <a data-fancybox href="https://www.youtube.com/embed/{{ video }}"><img src="{% static 'catalog/images/video_icon.jpeg' %}" alt=""></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% block_tags_other game %}
            </div>
        </div>
    </div>
{% endblock %}